[submodule "ribbon-language"]
	path = ribbon-language
	url = https://github.com/tiny-bow/ribbon-language.git
[submodule "ribbon-engine"]
	path = ribbon-engine
	url = https://github.com/tiny-bow/ribbon-engine.git
[submodule ".github"]
	path = .github
	url = https://github.com/tiny-bow/.github
[submodule "ribbon-lang.github.io"]
	path = ribbon-lang.github.io
	url = https://github.com/tiny-bow/ribbon-lang.github.io
[submodule "tiny-bow.github.io"]
    path = tiny-bow.github.io
    url = https://github.com/tiny-bow/tiny-bow.github.io
[submodule "vscode-rml-syntax"]
	path = vscode-rml-syntax
	url = https://github.com/tiny-bow/vscode-rml-syntax
[submodule "rgl"]
	path = rgl
	url = https://github.com/tiny-bow/rgl
[submodule "rlfw"]
	path = rlfw
	url = https://github.com/tiny-bow/rlfw
[submodule "utils"]
	path = utils
	url = https://github.com/tiny-bow/utils
[submodule "rg"]
	path = rg
	url = https://github.com/tiny-bow/rg
[submodule "notes"]
	path = notes
	url = https://github.com/tiny-bow/notes
[submodule "r64"]
	path = r64
	url = https://github.com/tiny-bow/r64
[submodule "ribbon-engine.github.io"]
	path = ribbon-engine.github.io
	url = https://github.com/tiny-bow/ribbon-engine.github.io
[submodule "roml"]
	path = roml
	url = https://github.com/tiny-bow/roml
